@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --text-white : #fff;
  --background-blue : darkblue;
}

img {
  width: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}



.upper-navbar {
  width: 100%;
  background: rgb(131, 131, 131);
}

.container {
  width: 90%;
  padding: 0 40px;
  margin: 0 auto;
  
}

.upper-navbar > .container > .address-bar 
{
  height: 40px;
  color: var(--text-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navbar {
  background-color: #2f004c;
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
  text-decoration: none;
  
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
  
}

.navbar .flex {
  justify-content: space-between;
}

/* Sldier */
.slider {
  height: 450px;
  background: url('images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  
}

.slider h1 {
  font-size: 40px;
  color: var(--text-white);
}

.slider p {
  color: var(--text-white);
  font-size: 18px;
  /* width: 50%; */
}

.thumbnail-img img {
  width: 400px;
}

.btn-outline {
 background-color: white;
 padding: 10px;
 border-radius: 2px; 
 text-decoration: none;
 color: black;
 margin: 5px;
  
}

.grid {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/* Intro */

.intro {
  padding: 15px;
}

.intro > .container > h1 , p  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro > .container >  p
{
  padding-bottom: 20px;
  font-size: 18px;
}

.intro .card {
  background-color: rgb(211, 211, 211);
  padding: 20px;
  border-radius: 5px;
}


.intro .card h3 , p { 
   
  text-align: center;

}
.intro .grid-4 {
  grid-template-columns: repeat(4 , 1fr);
}


/* DOC */

.doc .grid-4 {
  grid-template-columns: repeat(4 , 1fr);
}

.doc-card {
  border: 1px solid lightgrey;
  padding: 30px;
 
}

.doc-card h2{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 5px;
}

.doc-card p{
  font-size: 14px;
  text-align: justify;
  color: black;
}

.card-3 {
  text-align: center;
  background-color:lightgrey;
  padding-bottom: 20px;
  /* height: 100%; */
}


